.subscribe:hover {
  cursor: pointer;
}

.inp {
  border: none;
  border-bottom: 1px solid #cc6b87;
  padding: 5px 10px;
  outline: none;
  font-family: "Montserrat, sans-serif";
  color: "#000000e6";
  height: 2rem;
  max-width: 15rem;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 1;
}
